* {
    /* outline: 2px solid purple; */
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    background: hsl(0, 0%, 97%);
    font-family:Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------ */
.top {
    flex: 1;
    display: flex;
    justify-content: space-between;

    padding: 0 10px;
}
#logo {
    font-size: 14px;
}

#history {
    color: grey;
    font-size: 14px;
}

/* ------------------------------------------------------------------ */
.middle {
    flex: 1.5;
    display: flex;

    margin: 0 0 5px 0;
}

#inputBox {
    flex: 1;

    width: 100%;
    padding-right: 20px;

    border: 0;
    border-bottom: 2px solid hsl(0, 0%, 40%);
    border-radius: 5px;

    background: hsl(0, 0%, 97%);
    text-align: right;

    font-size: 4rem;

}

#inputBox:focus {
    outline: none;
    caret-color: transparent;
}

/* ------------------------------------------------------------------ */

.bottom {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;

    display: flex;
    gap:2.5px;
}

.button {
    flex: 1;

    border: 1px solid grey;
    border-radius: 4px;
    margin: 0px 0 0 -2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;

}

.button:hover {
    background: hsl(0, 0%, 94%);
}

.button:active {
    transform: scale(0.96);
    color: hsl(0, 0%, 40%);
}

/* ------------------------------------------------------------------ */

.zero {
    flex: 2;
}

#equal {
    background: hsl(0, 0%, 50%);
    color: white;
}

#equal:hover {
    background: hsl(0, 0%, 60%);
}

#equal:active {
    color: hsl(0, 0%, 90%);
}

#backspace {
    font-size: 20px;
}